body{
background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxANDQ0NDQ0NDQ0NDQ0NDQ0NDQ8NDQ0NFREWFhURFRMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0NFQ0PFysZFRktLS03KysrKysrLTcrKzcrKys3NysrKy0rKysrLS0rKy0tLSsrLSsrKysrKysrKysrK//AABEIAMIBAwMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAAAAQIDBAUGB//EACoQAQACAgEDAwMDBQAAAAAAAAABEQISAwQTYSFBUTGRoWJxgRRCUrHR/8QAGgEBAQEBAQEBAAAAAAAAAAAAAAECAwQFBv/EAB4RAQEBAQEBAQEAAwAAAAAAAAARARICAxNRFCFB/9oADAMBAAIRAxEAPwD9rFlYajFOxaTCnYshYUxZAKdiyFBTsWQCmdpAU7FkAp2LIBVWLSAqrFkQKsWkAqxaTA7FkQKsWkAqwkWCgmzCs7FosW1GKsWmytItWLRYsgsWmxZCqsWmxZCqsWmxsQq7Fo2FkKuxabFkKqxabFhVWdos7FVYtNiyCrFpsWQVsLTYsgqxaQQVYtNnYHYtNgFWEgGFi0WLbjnWljZnYshWli2djYhWli2ew2IlaWezLYbLCtditnsdpCrCbFkWrO2dnZCrsIs7Rao6TYsKo4RZ2Qq7FosWQqyTZ2kWqoJs7CqCbFgYoWBRRGAcWw2Z7C3WOFabDZnZbEK1s7ZbHGRCtLK0WdhVWdoEAuxaVQKcSdkEFWdoFitLFs7FpCtLO2VnZCtNhbOZFkK0s7ZWLIta2LZ7HsQq7O2ewshWti2Vi0i1rZ2xs9iFa2GWwIVwbDZlYd489a7DZnZxJBpZxLM0itYk7ZWdpFrSztnsNyLWti2W57JCtNhsz2GxCtLFs7FrCtLFs7FkStLFs7FkK1sWysbEK12GzLYbEK12GzLYbEOmux7MbOyHTXY7Y2cSRa1s7ZbHEpFrSwiwkK8zY4yZ2ezvHFrGR7MoyPZIta7DZluWxFrfcbsNhscp033G7n2Gy8nTo3G7n2GxydOmOQ45HLuN05OnZsNnJGao5Tk6dNi2McsSrZIVpsWzOxZCtNhszsWsStLFosWQq7O2dnaRauztnZ2QrSztnZ2kWrs7RZ2RavYJsJCvB7/kR1HlyY4+WmOMPZzjy9a6Y6hUdRDng9k5xc3XVHLE+59xy7qjkTlenTue7CMonwqviUi1ruNmPrAjMi1tYtnsNkiVpZWmxZCq2G6QLVbqx5qZTCZhZiV2Y80T9W2MxLzfVWOcwzvhc9vTjGFdtw8fUT7unj6hz3zuOmbmteyXZlphzQ1xzhjd3Gs85rkniktZehERInjg7X83ni3dl08McunXvE43GESdqy4kTC3GZqgzsbeVhWtkjYEK+djI9mYt7o8tabDZFi0hV7HGbMEStozXjyOaJVEpvla7MeRfpLkxya45Mb5bzW2vwKLHJpDKpg4XocccpViaOmmPG1x4U301nlhGJxxuvDihrjhDG+2s8OCOCZ9lx0mU+z0IXDG/TW8+ePPx6Gflrh0P6nZR0zv01rPnjHDpYj65S6MOnx+cvwKVEMbut55zP+Lx4cf1fdpHHHlnjMtMZY2umRUcUeT7MHEriWLrUxhl08Syz6N3QdLnvcOM14/J0UubPpcofQTimeOJbz7bjnvwzXznYyD6HsR4Nv8Adj/HfnmsjVlj18e+E/xNtcer45/yj94/4+nPX8fP/wBf0aimuGeE/TOPvTWOK/olI5aFOvsjsJ1i8uShTr7HgdnwdnLmheMtuz4OOLwnWE0YS3wZxxz8NMcZY1vG2EtsWOES2why11xrELjAsIbYw57rpmJxxXELjFcYMbreYiIXGKowXGLG61mIjFcYqjFcYs7rWYjU9WkQqIStRnGJxC6FJVhQdii1BW591nMFRMLraOU45HPQTnDrXT3A57ByvT8vjKGmMw5YhcW/Q7j4jriIXhFfSZj9vRyRMtcc5Y3Fd2HNnH0zn+fX/bfDqsveMZ/Dz8eRthyOe+W816OHVR74z/E22x58J+Y/eHn4ZN8HLfOOmbrvxnGf7o+7SOK3JhjDbDBy10xvHAccBYX8z92uOWXyxu61mYUcKo4l45T4XGc/EMbutZ5xOODTHERl4XGXj8s7rWYcNMURPj8qifDGt41xhcQyxy8NIyY1vFUqIKJVEo0KFHYRRQoyFFAABQoWU5CCiopyTOaxF0GW8msK/N8ellcdLL6HHoo+Ff0kfD6m/d4PxfPx0srx6SXvR0sfBx08M/sv5PFx6Vrj0z1o4IPsM/qv5vNx4GuPG7uyfaZ36Lw5McZaY26O2ccbO+l5Z45NccjjjXHGzu41maeOTXGLRjg0xhz1vGmPGuONOMrxyY1rDjjXGAjM4yZahxBlZo1ALOhqAiTstRqgqxZRB0KCpVCgRMFTSjKRloO21sFIz7RNQXSY8WaHo5oxlXq9UcW5Uy9T9QaajVFydyhF6jRMTKomQiowPUotUWiw4xOIERKowlndOREHEKjjaRxputcs4hUYtceNpGDO+l5YxguMGsYnTHSxnGKqVQSrCo6BgAAigFQAwVADAAAFQqQMCpAPEUA9TgKOgBToGEUjgAVULgBnRcLgBnWl4tIAZ1VwYDKgAIAAAAAAAAAAAAABgwBCDAAAA//Z');

background-size: cover;
font-family:Arial'
color:white;
}

nav{
background:#5b92e5;
 background-size: cover;
height: 200px;
width:100%;
}

label.logo{
color: white;
 background-size: cover;
font-size:80px;
line-height:140px;
padding: 0 100px;
font-weight:bold;

}
ul{
margin: 0px;
padding:5px;
list-style: none;
}
ul li{
float: left;
width:316px;
height:55px;
background-color: white;
 background-size: cover;
opacity: .8;
line-height: 42px;
text-align: center;
font-size:26px;
}
ul li a{
text-decoration:none;
color:#1CABE2;
dislay:block;
}
ul li a:hover{
background-color:white;
opacity: .9;
}
ul li ul li{
display:none;
}
ul li:hover ul li {
display: block;
}

section:after {
  content: "";
  display: table;
  clear: both;
}


.container1 {
  position: absolute;
  left: 60px;
  top: 310px;
background-image: url('https://lh3.googleusercontent.com/proxy/x0DVtAJvyZ8M_m0PKnb5SV-QP6von4v9DmcSlwGQ8r7u-562k5ZnW11x1ZGoQIQGnkn4rUfO5NNDBRadCJHbK6qt1_3__iT85XLK');

 
  margin: auto;
  width: 50%;
  height:40%;
  border: 4px solid #5b92e5;
  padding: 20px;

}
.contact {
position: absolute;
 
  left: 35px;
  top: 250px;
   box-sizing: content-box;  
  width: px;
  height: 130px;
  padding: 30px;  
  border: 4px solid blue;
  border-color: #5b92e5;
background: white;
}
  
  
   
 .about-container{
    width:80%;
    height:330px;
    background:#ffffff;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -11%  auto 20px auto;
    position: relative;
    justify-content:space-evenly;
    align-items: center;
}
.about-text {

  width:500px;}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: white;
  color: black;
}



