body{
background: AliceBlue;
background-size: cover;
font-family:Arial'
color:white;
}

nav{
background:#5b92e5;
 background-size: cover;
height: 200px;
width:120%;
}

label.logo{
color: white;
 background-size: cover;
font-size:80px;
line-height:140px;
padding: 0 100px;
font-weight:bold;

}
ul{
margin: 1px;
padding:5px;
list-style: none;
}
ul li{
float: left;
width:300px;
height:50px;
background-color: white;
 background-size: cover;
opacity: .8;
line-height: 40px;
text-align: center;
font-size:26px;
}
ul li a{
text-decoration:none;
color:#1CABE2;
dislay:block;
}
ul li a:hover{
background-color:white;
}
ul li ul li{
display:none;
}
ul li:hover ul li {
display: block;
}

.container{
min-height: 100vh;
width: 100%
display: flex;
align-items: center;
justify-concent: center;
}

section:after {
  content: "";
  display: table;
  clear: both;
}
.container1 {
  position: absolute;
  left: 70px;
  top: 326px;
  
  margin: auto;
  width: 100%;
  height:50%;
  border: 4px solid #5b92e5;
  padding: 20px;
background-color: #f1f1f1;
}
